<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/loginform.css">

</head>

<body>
   <%- include('../partials/navigation.ejs') %>

    <main>
        <% if(errorMessage) {%>
            <div><%=errorMessage%></div>
            <%}%>
        <form class="login-form" action="/new-password" method="POST">
          
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password">
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="hidden" name="passwordToken" value="<%=passwordToken%>">

            <button class="btn" type="submit">Reset Password
            </button>
        </form>
    </main>
<%- include('../partials/foot.ejs') %>