<%- include('../partials/head.ejs') %>

<!-- head to app.js and allow access to the css static file -->

</head>

<body>
<%- include('../partials/navigation.ejs') %>
<main style="width: 1000px; margin: 0 auto;">
    <% if(products.length > 0) {
        products.forEach(product =>{ %>
            <ul class="centered">
            <li><%= product.productId.title %> (<%=product.quantity%>)
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="productId" value="<%=product.productId._id%>">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">

                    <button type="submit" class="btn">Delete</button>
                </form>
            </li>
            </ul>
            <hr>
            
        <%})%>
        <div class="centered">
            <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">

                <button type="submit" class="btn">Order Now</button>
            </form>
            </div>

   <% }else{%>
        <h1>No Products in Cart</h1>

   <% }%>
</main>
<%- include('../partials/foot.ejs') %> 