<%- include('../partials/head.ejs') %>

<!-- head to app.js and allow access to the css static file -->

</head>

<body>
<%- include('../partials/navigation.ejs') %>
<main style="width: 1000px; margin: 0 auto;">
    <% if(products.length > 0) {
        products.forEach(product =>{ %>
            <ul class="centered">
            <li><%= product.productId.title %> (<%=product.quantity%>)
            </li>
            </ul>
            <hr>
            
        <%})%>
        <div class="centered">
           Total: <%=total%>
            </div>
            <div class="centered">
                <script src="https://js.stripe.com/v3/"></script>
                <button id="order-btn" class="btn">ORDER NOW</button>
                <script>
                    var stripe = new Stripe('pk_test_fZfZYuoT6d9XutUqWTSdkE2c00rP1EXksw');
                    var orderBtn = document.getElementById('order-btn')
                    orderBtn.addEventListener('click', function(){
                        stripe.redirectToCheckout({
                            sessionId: '<%sessionId%>'
                        })
                    });
                </script>
            </div>

   <% }else{%>
        <h1>No Products in Cart</h1>

   <% }%>
</main>
<%- include('../partials/foot.ejs') %> 