<%- include('../partials/head.ejs') %>

<!-- head to app.js and allow access to the css static file -->

</head>

<body>
<%- include('../partials/navigation.ejs') %>
<main class="centered">
    <h1><%= product.title %></h1>
    <hr>
    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" >
    <hr>
    <h2><%= product.price %></h2>
    <p>
        <%= product.description %>
    </p>
    <% if(isAuthenticated) { %>
    <%- include('../partials/add-to-cart.ejs') %>
    <%}%>
</main>
<%- include('../partials/foot.ejs') %>